@model IEnumerable<FestFindV2.Models.Order>

@{
    ViewData["Title"] = "Mijn orders";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Order nummer
            </th>
            <th>
                Naam
            </th>
            <th>
                Event Naam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Participant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
